#file: noinspection YAMLSchemaValidation
name: Run QA (test, lint, type check)

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  qa:
    env:
      commitmsg: ${{ github.event.head_commit.message }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        poetry-version: ["1.5"]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"
      - name: Download Lucene JARs
        run: |
          mkdir -p lucene_jars
          curl -L -o lucene_jars/lucene-core-9.3.0.jar https://repo1.maven.org/maven2/org/apache/lucene/lucene-core/9.3.0/lucene-core-9.3.0.jar
          curl -L -o lucene_jars/lucene-analyzers-common-9.3.0.jar https://repo1.maven.org/maven2/org/apache/lucene/lucene-analyzers-common/9.3.0/lucene-analyzers-common-9.3.0.jar
          curl -L -o lucene_jars/lucene-analysis-custom-9.3.0.jar https://repo1.maven.org/maven2/org/apache/lucene/lucene-analysis-custom/9.3.0/lucene-analysis-custom-9.3.0.jar
      - name: Set CLASSPATH
        run: echo "CLASSPATH=$PWD/lucene_jars/*" >> $GITHUB_ENV
      - uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install dependencies
        run: |
          poetry install --all-extras
      - name: Unit tests (non-JVM)
        run: |
          poetry run pytest tests/ocrqa/ tests/langident/ tests/newsagencies/
      - name: Unit tests (Solr normalization - JVM)
        run: |
          poetry run pytest tests/solrnormalization/
      - name: Unit tests (LDA topics - JVM)
        run: |
          poetry run pytest tests/ldatopics/
